.JoueurBanierePhoto
{	
	width: 100%;
	height: 200px;

}

.JoueurBaniere
{
	width: 85%;
	height: 150px;

	position: absolute;

	border:2px solid #BFBCBC;
	z-index: 2;

}

.JoueursPhoto1
{
	width: 150px;
	height: 150px;
	
	margin-left: 100px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}

.JoueursPhoto2
{
	width: 150px;
	height: 150px;
	
	margin-left: 300px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}


.JoueursPhoto3
{
	width: 150px;
	height: 150px;
	
	margin-left: 500px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}


.JoueursPhoto4
{
	width: 150px;
	height: 150px;
	
	margin-left: 700px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}


.JoueursPhoto5
{
	width: 150px;
	height: 150px;
	
	margin-left: 900px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}

.JoueursPhoto6
{
	width: 150px;
	height: 150px;
	
	margin-left: 1100px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}

.JoueursTableauInformation
{
	float: left;
}

.JoueursTableauInformation table
{
	margin-left: 67px;
	display: inline-block;
}
.JoueursTableauInformation table:first-child
{
	margin-left: 100px;
	display: inline-block;
}

.JoueursTableauInformation table tr td
{
	font-size: 16;
	padding: 1em;
	border:2px solid #BFBCBC;
}

.JoueurHistoriqueGame
{
	background-color: blue;
	margin-left: 100px;
	margin-top:35px;
	display: inline-block;
	width: 80%;
	height: 445px;
	border:2px solid #BFBCBC;
}

.JoueurTableScore
{
	width: 250px;
	
	display: block;	
}

.JoueurTableScore table
{
	margin-left: 25px;
}

.JoueurTableScore table tr td
{
	font-size: 16;
	padding: 1em;
	border:2px solid #BFBCBC;
}