.JoueurBanierePhoto
{	
	width: 100%;
	height: 200px;

}

.JoueurBaniere
{
	width: 85%;
	height: 150px;

	position: absolute;

	border:2px solid #BFBCBC;
	z-index: 2;

}

.JoueursPhoto
{
	width: 150px;
	height: 150px;
	
	margin-left: 25px;
	margin-top: 25px;

	border:2px solid #BFBCBC;
	position: absolute;

	z-index: 4;
}

.JoueursTableauInformation
{
	width: 250px;
	height: 250px;
	
	float: left;
	display: block;
}

.JoueursTableauInformation table
{
	margin-left: 25px;
}

.JoueursTableauInformation table tr td
{
	font-size: 16;
	padding: 1em;
	border:2px solid #BFBCBC;
}

.JoueurHistoriqueGame
{
	background-color: blue;
	display: inline-block;
	width: 80%;
	height: 445px;
	border:2px solid #BFBCBC;
}

.JoueurTableScore
{
	width: 250px;
	
	display: block;	
}

.JoueurTableScore table
{
	margin-left: 25px;
}

.JoueurTableScore table tr td
{
	font-size: 16;
	padding: 1em;
	border:2px solid #BFBCBC;
}