.listeEquipe 
{
	min-height: 100%;
	width: 100%;
	border: 5px solid  #BFBCBC;
}
.listeEquipe tr
{
	border: 2px solid  #BFBCBC;
}

.listeEquipe tr td img
{
	width: 75px;
	height: 75px;
}

.IconEquipe
{
	width: 75px;
	height: 75px;
}
.NomEquipe
{
	padding-left: 2em;
	font-size: 25px;
}